.loader {
  border: 10px solid #f0f0f0;
  border-radius: 50%;
  border-top: 10px solid #333333;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1 linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}